.score{
    background:black;
    color:white;
    padding:10px;
    font-size:1.5em;
}
button{
    padding:10px;
    font-size:1em;
    background-color: steelblue;
    color:white;
}
.message{
    font-size:1em;
    padding:20px;
}
.game {
    width: 1000px;
    margin: 0 auto;
}

.hole {
    display: inline-block;
    margin: 10px;
    width: 20%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.dirt {
    background-image: url("../media/dirt.png");
    background-size: cover;
    z-index: 10;
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.gopher {
    background-image: url("../media/gopher0.png");
    background-size: cover;
    z-index: 3;
    position: absolute;
    height: 200px;
    top: 200px;
    left: 0px;
    width: 100%;
    cursor: crosshair;
}
.wack{
    max-width:100%;
    position: absolute;
    left:0px;
    top:0px;
    display: none;
}