*{
    box-sizing: border-box;
}
header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    border: solid black 2px;
    border-radius: 25px;
    opacity: .9;
}
footer{
    color: aliceblue;
    background-color: black;
    border: solid yellow 2px;
    border-radius: 25px;
    opacity: .9;
}

button{
    background-color: slategray;
}

body{
    background:url('../media/userInterfaceBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-content: center;
}

.readMeContent{
    background-color: whitesmoke;
    border: solid black 2px;
    border-radius: 25px;
    opacity: .9;
    max-width: 500px;
    padding: 5px;
    align-content: left;
}




@media only screen and (min-width: 600px){

    /* For Tablets*/
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}



@media only screen and (min-width: 768px) {

    /* For desktop: */

        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

       
    }